
/*  
FILE NAME: global.css 
DATE MODIFIED: 22 September 2009
CLIPS TEMPLATE: Chemistry
AUTHOR: Centre for Learning Innovation (CLI), New South Wales Department of Education and Training
VERSION: 0.9.2
*/

html { height: 100%; }

body {
	color:#000;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:75%;
	margin:0 0 0 0;
	padding:0;
	height: 100%;
	line-height:1.4;
	background: #3d3a36 url(graphics/bodyBkgrnd.gif) repeat-x left top;
	text-align: justify;
	color: #333;
}

#popup,
#feedback { background: #3d3a36 url(graphics/bodyBkgrnd.gif) repeat-x center -160px; }

#show {
	background: #3d3a36 url(graphics/bodyBkgrnd.gif) repeat-x center -120px;
	width:600px;
}

#nonFooter {
	position: relative;
	min-height: 100%;
	width:900px;
	margin:0 auto;
	padding:0 0 0 0;
}

#popup #nonFooter,
#show #nonFooter { width:500px; }

#feedback #nonFooter {
	width:380px;
	margin:0 auto;
	padding:0;
	margin:0;
}

* html #nonFooter { height: 100%; }

#globalNav {
	float:left;
	left:0;
	margin-top:-40px;
	padding:0;
	width: 190px;
	color: #827736;
	border:0;
}

#nav {
	position:relative;
	left:10px;
	top:-3px;
	float: right;
	width: 630px;
}

#popup #nav,
#show #nav {
	position:absolute;
	width: 450px;
	margin:0;
	top:15px;
}

#feedback #nav {
	width: 330px;
	padding:10px;
	left:0px;
	top:-20px;
}

#content {
	position:static;
	float: left;
	z-index:5;
	width: 610px;
	margin: -100px 18px 20px 18px;
	padding: 5px 20px 60px 20px;  /*padding bottom slightly larger than footer height for IE bug */
	background: #e1e1e1;
	border: 10px solid #FFF;
	-webkit-box-shadow: rgb(33, 33, 33) 0 0 20px;
}

.projectPage #content {
	margin:100px 0 0 120px;}


#popup #content,
#show #content {
	position:relative;
	width: 450px;
	margin: 0;
	float: none;
	top:40px;
}

#feedback #content {
	position:relative;
	left:0;
	top:-75px;
	margin:0 auto;
	padding: 5px 15px 30px 15px;
	width:300px;
	float:none;
	background: #e1e1e1;
	border: 10px solid #FFF;
	-webkit-box-shadow: rgb(33, 33, 33) 0 0 20px;
}

.textContain {
	padding:0;
	margin:0;
	max-width:40em;
}

/* - - - - - - - - - - - - - - - navigation - - - - - - - - - - - - - - - */

/* ----- global navigation - 1st level ----- */
#globalNav ul {
	margin: 0;
	padding: 0 0 20px 0;
	list-style: none;
}

#globalNav li {
	margin:0;
	list-style:none;
	padding:0px 0px;
}

#globalNav li a {
	display:block;
	padding:0.3em 0 0.3em 1.8em;
	font-size:1.1em;
	text-decoration:none;
	font-weight:normal;
	color:#DDD;
	margin-left:2px;
	border:0;
}

#globalNav li a:hover,
#globalNav li a:focus,
#globalNav li a:active {
	margin-left:0;
	border-left:2px solid #FF6600;
	color:#FFF;
}

#globalNav li.current a,
#globalNav li a.current {
	margin-left:0;
	border-left:2px dotted #FF6600;
}

#globalNav li a.head {
	background: none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

#globalNav li a.ui-state-active {
	margin-left:0;
	border-left:2px solid #FF6600;
	background: #5B5652 url(graphics/liHeadBkgrnd.jpg);
	font-weight:bold;
	color:#fff;
}

.ui-widget {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:100%;
}

.ui-accordion .ui-accordion-content {
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-bottomright:3px;
	-webkit-border-radius-bottomleft:3px;
	position: static;
}

/* ----- integrated secondary navigation (2nd level) ----- */

#globalNav li ul {
	margin:0 5px 5px 5px;
	padding:0 0 5px 0;
	background: #514c48 url(graphics/ulliulliBkgrnd.jpg) repeat-x left top;
	border:0;
}

#globalNav li ul li a {
	margin-left:2px;
	border:0;
}

#globalNav li ul li a.head2 { background: none; }

#globalNav li ul li a.ui-state-active {
	border-left:#5B5652 solid 2px;
	background: #5B5652;
	font-weight:bold;
	color:#fff;
	-moz-border-radius-0:0;
	-webkit-border-radius:0;
}

#globalNav .ui-accordion-content { overflow:visible; }

#globalNav li ul li a.current {
	border-left:2px dotted #FF6600;
	margin-left:0;
}

#globalNav li ul li a:focus,
#globalNav li ul li a:hover,
#globalNav li ul li a:active,
#globalNav li.selected ul li a:focus,
#globalNav li.selected ul li a:hover,
#globalNav li.selected ul li a:active { border-left:2px solid #FF6600; }

/* ----- integrated tertiary navigation ----- */
	
#globalNav li ul li ul {
	margin:0 5px 2px 5px;
	background:#5B5652 url(graphics/ulliulliulliBkgrnd.jpg) repeat-x left top;
	border-top:0;
}

#globalNav li ul li ul li { border: 0; }

#globalNav li ul li ul li a {
	border-left:2px solid #5B5652;
	margin:0;
}

#globalNav li ul li ul li a.head3 { background: none; }

#globalNav li ul li ul li a.ui-state-active {
	background:none;
	font-weight:bold;
	color:#fff;
	border:0;
	border-left: #5B5652 solid 2px;
}

/* ----- integrated quarternary navigation ----- */

#globalNav li ul li ul li ul { background:none; }

/* ----- Non-integrated secondary navigation ----- */
#nav ul {
	padding:0;
	margin: 0;
}

#nav li {
	position:relative;
	float:left;
	display:block;
	z-index:1;
	margin: 0 2px;
	padding: 2px 5px;
	list-style:none;
	font-size:1em;
	font-weight:normal;
	line-height:1.5em;
	color:#333;
	background:#e1e1e1;
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-radius-topright:3px;
	-webkit-border-radius-topleft:3px;
}

#nav li.current {
	z-index:10;
	padding-bottom:12px;
	border-bottom:#e1e1e1 solid 1px;
}

#nav li.current a:link,
#nav li.current a:visited,
#nav li.current a:focus,
#nav li.current a:hover,
#nav li.current a:active {
	/* This indicates "where you are" */
	color:#000;
	text-decoration:none;
	padding-bottom:5px;
	font-weight:bold;
}

#nav li a { text-decoration:none; }

#nav li a:link,
#nav li a:visited { color:#333; }

#nav li a:focus,
#nav li a:hover,
#nav li a:active {
	color:#35506C;
	text-decoration:underline;
}

a.topNav { }

/* - - - - - - - - - - - - - - - Skip Links - - - - - - - - - - - - - - - */
p.skip,
p.skip a {  /* skip to nav*/
	position:absolute;
	display: inline;
	z-index: 0;
	left: 0;
	top:-20px;
	padding: 0 0.5em;
	width: 180px;
	text-decoration:none;
	background-color:#474B53;
	border-LEFT: solid #FF6600 2px;
}

.skip a:focus,
.skip a:active {
	display: inline;
	position:absolute;
	z-index: 2;
	top: 240px;
	color:#FFF;
}

.skip a#cont {   /* skip to content*/
	position:absolute;
	top:-30em;
	padding: 0.3em 0 0.3em 1.7em;
	color: #FBF820;
	background-color:#E1E1E1;
	border:solid #fff 3px;
}

.skip a#cont:focus,
.skip a#cont:active {
	top:5px;
	left:5px;
	color:#000;
}

/* - - - - - - - - - - - - - - - Headings - - - - - - - - - - - - - - - */

h1,
h2,
h3 {
	font-weight: normal;
	color: #2A2C32;
}

h1 {
	clear:both;
	font-size: 3em;
	margin:0;
	color:#000;
}

#title {
	width: 900px;
	height: 300px;
	margin: 0 auto;
	background: url(graphics/beaker.jpg) no-repeat left top;
	padding:0;
}

#feedback #title {/* feedback title */
	/*	background: #000 url(graphics/title_bg.png) repeat-x left bottom;*/
	width:360px;
	height: 150px;
	left:0;
	padding:0;
	margin:0;
	background:none;
}

#feedback #title h1 {
	padding:10px 0 0 0;
	margin:0;
	width:300px;
	left:0;
	font-size: 2em;
}

#popup #title {display:none;}

#title h1 {
	float: right;
	margin: 0;
	padding: 30px 0 0 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	font-weight: lighter;
	text-shadow: 0px 0px 20px #CCC;
	color: #FFF;
	text-align:right;
}

#title h1 span {
	display: block;
	width: 100%;
}

h2 {
	margin:15px 0 5px 0;
	font-size: 2em;
	clear:both;
}

h3,
p.activityHead {
	margin: 15px 0 5px 0;
	font-size: 1.2em;
	font-weight:bold;
}

h4 {
	margin:15px 0;
	font-size:100%;
	font-weight: bold;
	font-size:100%;
}

#content p {
	margin:5px 0;
	line-height:1.3;
}

#content p.backToTop { clear:both; }

#content p sub { line-height:1.5; }

#content H1 + p:first-letter { }

#content H1 + p:first-line { }

/* - - - - - - - - - - - - - - - Graphics - - - - - - - - - - - - - - -	 */

p.figure img { /* Positions graphics in main content */ margin:0.3em 0 0 0; }

a img {/* ensure linked images do not display a border */ border:0; }

#content p.figure {
	border:0;
	margin:0.5em;
	padding:0.3em;
	text-align:center;
	clear:both;
}

#content p.figure span {
	display:block;
	background-color:#efefef;
}

#content p.figure.centre {padding:0; }

#content p.figure.centre img {
	text-align:center;
	margin:0 auto;
	
}

#content table div.ft,/* IE7 needs the specificity of table and textContain */
#content .textContain div.ft { height:auto; }

#content table div.ft p,
#content .textContain div.ft p {
	background-color:#efefef;
	padding:0.2em;
	margin-bottom:4px;
}

#content div.ft + p { /* the paragraph immediately after the copyright and caption */ clear:both; }

#content div.figure_text_right_wrap + p,
#content div.figure_text_left_wrap + p { clear:none; }

#content div.figure_text_left {
	width:98%;
	float:left;
	clear:left;
}

#content .figure_text_left p.caption,
#content .figure_text_left p.copyright {
	text-align:left;
	margin:0;
	padding:0.3em 0;
	float:left;
	clear:both;
}

#content div.figure_text_left_wrap {
	margin:0 0.3em 0 0;
	padding:0 0.3em;
	float:left;
	clear:left;
}

#content .figure_text_left_wrap p.caption,
#content .figure_text_left_wrap p.copyright {
	text-align:left;
	margin:0 0.3em 0 0;
	float:left;
	clear:left;
}

#content div.figure_text_centre {
	width:98%; /* 98% needed to position correctly in IE6.  Width needed for FF 3 & Safari 3 */
	margin:0 auto;
	padding:0 0.3em;
	float:none;
	clear:both;
}

#content .figure_text_centre p.caption,
#content .figure_text_centre p.copyright {
	text-align:center;
	margin:0 auto;
	padding:0.3em 0;
	float:none;
	clear:both;
}

#content div.figure_text_right {
	width:98%; /* 98% needed to position correctly in IE6.  Width needed for FF 3 & Safari 3 */
	margin:0;
	padding:0 0.3em;
	float:right;
	clear:right;
}

#content .figure_text_right p.caption,
#content .figure_text_right p.copyright {
	text-align:right;
	margin:0;
	padding:0.3em 0;
	float:right;
	clear:both;
}

#content div.figure_text_right_wrap {
	margin:0;
	padding:0 0.3em;
	float:right;
	clear:right;
}

#content .figure_text_right_wrap p.caption,
#content .figure_text_right_wrap p.copyright {
	text-align:right;
	margin:0;
	padding:0.3em 0;
	float:right;
	clear:right;
}

#content p.figure.right {
	text-align:right;
	float:none;
	clear:both;
	margin:0.5em 0 0 0;
}

#content p.figure.left {
	text-align:left;
	float:none;
	clear:both;
	margin:0.5em 0 0 0;
	padding:0;
}

#content p.figure.right.wrap {
	float:right;
	clear:both;
	margin:0;
}

#content p.figure.left.wrap {
	float:left;
	clear:none;
	margin:0 0.5em 0 0;
}

#content p.figure.right.wrap +p { clear:none; }

#content p.figure.left.wrap +p { clear:none; }

#content p.figure.right +p { clear:right; }

#content p.figure.left +p { clear:left; }

#content p.caption {
	/* Caption text style for graphics rendered in main content */
	color:#204162;
	font-size:90%;
	max-width:100%;
}

#content p.copyright {
	color:#4B6075;
	font-size:80%;
	max-width:100%;
}

/* end of graphics styles */


strong,
b { /* Used to emphasise text within a paragraph */ font-weight: bold; }

blockquote {
	/* Positions the text style for quotations and extracts.
	IMPORTANT: the text is styled with 'blockquote p' */
	margin:5px 10px 5px 50px;
	max-width:345px;
}

blockquote p {
	/* Renders the text styles for quotations and extracts */
	margin:5px 0;
	font-size:95%;
	color:#003366;
}

cite { }

em,
i { /* Used for any italicised texts in a paragraph. 
	Its recommended that the values are inherited from 'p' 
	as it could conflit visually with 'strong' */ }

/* popups and audio pages already have a print link so remove this second one in the footer */
#popup a.printLink,
#audio a.printLink { display:none; }

abbr,
acronym {
	cursor:help;
	border-bottom:1px dashed #000;
}

code {
	font-family:Courier, "Courier New", monospace;
	font-size:110%;
	display: block;
	white-space: pre;
}

pre { margin:0; }

/* --------------------- Standard lists --------------------- */
#content ul,
#content ol {
	max-width:40em;
	padding-left:2em; /* left padding needed if max-width is used. */
	margin:0;
}

#content li {
	margin:0;
	color:#000;
}

li p {
	/* Positions a list item's second or subsequent paragraph(s) */
	margin:5px 0;
	color:#000;
	vertical-align:text-top;
}

ul li ul li {
	/* Unordered list nested once */
	list-style-type:circle;
	margin:0.3em 0 0.3em 0em;
	display:list-item;
}

ol li ol li {
	/* Ordered list nested once */
	list-style-type: lower-alpha;
	margin :5px 5px 5px 35px;
	display:list-item;
}

ol li ol li ol li {
	/* Ordered list nested twice */
	list-style-type:lower-roman;
	margin :5px 5px 5px 35px;
	display:list-item;
}

dl {
	border:1px solid #5A5A5A;
	padding:0;
	margin:0;
	width:96%;
	max-width:600px;
}

dt {
	border-bottom:1px solid #5A5A5A;
	background-color:#EDF1F5;
	font-weight:bold;
	color:#003366;
	padding:3px;
	margin:0;
}

dd {
	padding:3px;
	margin:0;
}

/* --------------------- Table of content classes --------------------- */
#content div.toc { border:solid 1px #efefef; }

#content div.toc h2.tochead {
	border-bottom: 1px dotted #999;
	background-color:#efefef;
	margin:0;
	padding:0 0 0 0.5em;
}

#content div.toc ul { padding:0.5em; }

#content div.toc li { list-style-type:none; }

#content div.toc a.tocLink:link { }

/* --------------------- Pseudo classes --------------------- */

/* --- Standard links --- */

a:link { color:#000; }

a:visited { color:#575757; }

a:focus { color:#003366; }

a:hover { color:#003366; }

a:active { color:#575757; }

a.wikipedia {
	background: url(graphics/wikipedia.png) no-repeat center right;
	padding-right:18px;
	text-decoration:none;
	border-bottom:dotted 1px #999;
}

a.dictionary {
	background: url(graphics/dict.gif) no-repeat center right;
	padding-right:18px;
	text-decoration:none;
	border-bottom:dotted 1px #999;
}

p.expand { clear:both; }

a.expandable { padding-left:18px; }

a.closed { background: url(graphics/plus.png) no-repeat center left; }

a.open { background: url(graphics/minus.png) no-repeat center left; }

/* --------------------- footer --------------------- */
#footer {
	position: relative;
	clear:both;
	width: 100%;
	margin: -5.4em 0 0 0;
	padding: 1.1em 0;
	height:3em;
	border-top:1px solid #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color: #98A4B9;
	background: #000;
}

.push { /*ensures content layer clears footer*/
	height:6em;	/*must equal the same height as the footer*/
	clear:all;
}

#feedback #footer { }

#show #footer { margin-top:5.5em; }

#popup #footer p,
#show #footer p { width:500px; }

#feedback #footer p { width:380px; }

#footer p {
	position:absolute;
	margin:0;
	width:900px;
	height:20px;
	top:20px;
	background:url(graphics/neals.gif) no-repeat 5px top;
}

#footer p#secondaryFooterInfo {
	max-width:100%;
	padding:0.5em 0;
}

#footer #copyright {
	position:absolute;
	top:8px;
	padding-left:70px;
}

#footer #print { }

#footer a {
	color: #98A4B9;
	padding:1em;
}

#footer p#pagination {
	position:absolute;
	margin:0 0 0 -225px;
	width:450px;
	left:50%;
	top:10px;
	background-image:none;
}

#footer p#pagination span {
	width:18%;
	float:left;
}

#footer p#pagination span#start { }

#footer p#pagination span#back { }

#footer p#pagination span#location { text-align:center; }

#footer p#pagination span#next { text-align:right; }

#footer p#pagination span#end {
	float:right;
	text-align:right;
}

a.printLink { margin-left:1.5em; }

a.printLink:link,
a.printLink:visited { color:#575757; }

a.printLink:focus,
a.printLink:hover,
a.printLink:active { color:#003366; }

/* ----------------- Activity styles ---------------- */

.actdiv {
	background-color: #ddd;
	padding:0.5em;
	width:90%;
	border:1px #999 dashed;
	margin:0.5em 0;
}

.actdiv p {
	/* Paragraph text style for activity. 
	Questions are tagged within strong tags and rendered using the the style for 'strong' */
	margin:0.5em;
	color:#000;
	font-size:100%;
}

.activityTitle { font-weight:bold; }

label.activityLabel { }

input { }

.actinput,
textarea {
	/* Renders the text styles for 'input' box (missing word activities) and 
	'textarea' (short answer question activities). */
	font-family:Arial, Verdana, helvetica, sans-serif;
	font-size:95%;
	color:#000;
}

.shortAnswerTextarea { width:95%; }

.actinput {
	/* Renders the margins either side of the 'input' box */
	margin:0;
	padding:0;
	width:3em;
	display: block;
	float: left;
}

p.actbutton {
	padding:1em 0;
	margin:0.1em 0;
}

p.actbutton a {
	/* These attributes render the look and feel of the feedback buttons */
	/* top, right, bottom, left */
	margin:0;
	font-family:Verdana, helvetica, Arial, sans-serif;
	font-size:90%;
	text-decoration:none;
	font-weight:bold;
	padding:0.3em;
	border-bottom:2px #5A5A5A solid;
	border-right:2px #5A5A5A solid;
	background-color:#e5e5e5;
}

p.actbutton a:link { color:#000; }

p.actbutton a:visited { color:#575757; }

p.actbutton a:focus { color:#003366; }

p.actbutton a:hover { color:#003366; }

p.actbutton a:active { color:#000; }

/* --- Table style for JavaScript activities --- */

table.activity {
	/* If this table is not rendered in the '.actfieldset' then its recommended that the width not exceed 96% */
	margin:0 0 15px 0;
	width:100%;
	border-collapse:collapse;
}

table.activity td {
	/* Contains the text style for JavaScript activities */
	font-family:Verdana, Helvetica, Arial, sans-serif;
	color:#000;
	background-color:transparent;
	padding:0;
	border:0 #000 solid;
	vertical-align:middle;
}

/* -------------------- Styles for tables ------------------- */

/* --- Tabular table styles --- */

table.tabular {
	/* Its recommended that the width not exceed 96% */
	width:96%;
	margin:10px 0 10px 0;
	border-collapse:collapse;
	min-width:0;
	max-width:600px;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	clear:both;
}

caption {
	/* Accessibility related captions for tabular tables */
	/* top, right, bottom, left */
	padding:1em 0 0.5em 0;
	color:#000;
	font-weight:bold;
	text-align:left;
}

table.tabular th {
	color:#003366;
	font-weight:bold;
	padding:3px 5px;
	background-color:#EDF1F5;
	border:1px #5A5A5A solid;
	vertical-align:top;
}

table.tabular td {
	/* Contains the default text style for tabular data. 
	IMPORTANT: Its recommended that text within tabular tables 
	appear within p tags and styled with 'td p' */
	color:#000;
	font-size:90%;
	text-align:left;
	padding:3px 5px;
	background-color:#fff;
	border:1px #5A5A5A solid;
	vertical-align:top;
}

table.tabular th.ta,
table.tabular td.ta,
table.layout th.ta,
table.layout td.ta { vertical-align:top; }

table.tabular th.ma,
table.tabular td.ma,
table.layout th.ma,
table.layout td.ma { vertical-align:middle; }

table.tabular th.ba,
table.tabular td.ba,
table.layout th.ba,
table.layout td.ba { vertical-align:bottom; }

table.tabular p {
	/* Paragraph text style for tabular tables */
	margin:5px 5px 5px 0;
	color:#000;
}

table.tabular li {
	/* Ordered and unordered list style for tabular tables */
	color:#000;
	margin:0 5px 5px -10px;
	display:list-item;
	text-align:left;
}

table.tabular ol li ol li {
	/* Nested ordered list for tabular tables */
	list-style-type:lower-alpha;
	margin:5px 0 0 -10px;
}

table.tabular p.caption {
	/* Caption text style for graphics rendered in tabular tables */
	margin:5px;
	color:#204162;
	text-align:left;
}

table.tabular img {/* Positions graphics inserted in tables */ margin:0; }

/*-----the first element after a layout table should be cleared  ------- */
table.layout {
	padding:0;
	margin:0;
	border-collapse:collapse;
}

table.layout tr { vertical-align:top; }

table.layout td { padding-right:10px; }

.layout + * { clear:both; }

form {
	margin:0;
	padding:0
}

/* --------------- Feedback styles ------------------- 
IMPORTANT: These styles render the texts in the feedback windows */

h1.feedback,
p.feedback { margin:15px; }

/*---------------Audio styles -------------------------- */
.transcript { visibility:visible; }

.audio { padding:0.5em; }

/*---------------End of audio styles -------------------------- */

.right { float:right; }

.left { float:left; }

.wrap { }

.forty { width:40%; }

.clear { clear:both; }

.clearLeft { clear:left; }

.qStem {/*stem for a question */ font-weight:bold; }

.printOnly {/* for footnoteLinks */ display:none; }

/*--------------- Tab styles -------------------------- */
.ui-tabs .ui-tabs-hide { display: none !important; }

#tabs div > h3:first-child { display:none; }

/*--------------- Misc -------------------*/

noscript {
	color:#fff;
	Background:#222;
}
