
/* Last updated June 16 2010 */
/* Author: Daniel Wright */
/* Responsible Service of alcohol CSS v1.5 */

body {
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	background: #fff url(graphics/bodyBkgrnd.jpg) no-repeat top center;
}

#popup,
#feedback { background: #fff url(graphics/popupBkgrnd.jpg) fixed no-repeat top center; }

#show { background: #3f444c url(graphics/bodyBkgrnd.gif) repeat-x center -120px; }

#nonFooter {
	position: relative;
	min-height: 100%;
	width:900px;
	margin:0 auto;
	padding:0 0 0 0;
}

#popup #nonFooter { width: 500px; }

#globalNav {
	margin-top:10px;
	margin-left:15px;
	width:180px;
	padding:10px 0 0 0;
	background: transparent url(graphics/globalNavBkgrnd.png) repeat top left;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border:1px solid #9AAFB9;
	border-right:0;
}

* html #globalNav { margin-left: 8px }

#nav {
	position:relative;
	padding:0.5em 20px;
	margin:-85px 10px 0 0;
	left:10px;
	float: right;
	width: 630px;
}

#content {
	margin: 5px 0 30px 0;
	padding: 15px 20px 30px 20px;
	border: 2px solid #9AAFB9;
	background:#fff url(graphics/contentBkgrnd.gif) repeat-x 0 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: rgb(33, 33, 33) 0 5px 10px;
	-moz-box-shadow: rgb(33, 33, 33) 0 5px 10px;
}

.toggle {
	border:1px solid #ddd;
	background:#eee;
	padding: 0 10px 10px 0;
	-moz-border-radius-topleft:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.textContain {
	padding:0;
	margin:0;
	max-width:560px;
}

/* - - - - - - - - - - - - - - - navigation - - - - - - - - - - - - - - - */

#globalNav li {
	border-bottom: none;
	text-align:right;
}

#globalNav li a {
	padding:0.3em 1.2em 0.3em 1.5em;
	color:#333;
	text-align:right;
}

#globalNav li a:hover,
#globalNav li a:focus,
#globalNav li a:active { color:#000; }

#globalNav li a.ui-state-active {
	margin-left:-6px;
	background: #9AAFB9;
	color:#000;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:0;
	border:0;
}

#globalNav li a.welcomeSelected { font-weight: bold; }

.ui-accordion .ui-accordion-header .ui-icon { left: .3em; }

.ui-accordion .selected .ui-accordion-header .ui-icon { left: 0.9em; }

.ui-accordion .ui-accordion-content { margin-top: -3px; }

/* - - - - - - - - - integrated secondary navigation (2nd level) - - - - - - - - - */

#globalNav li ul {
	margin:0 0 0 -6px;
	background: #9AAFB9 url(graphics/ulliulBkgrnd.gif) repeat-x left top;
	border-left: 1px solid #9AAFB9;
	border-bottom: 1px solid #9AAFB9;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:0;
	-webkit-border-radius-bottomright:0;
}

#globalNav li ul li a { color:#ddd; }

#globalNav li ul li a.display { }

#globalNav li ul li a { color:#222; }

#globalNav li ul li.current a { font-weight:bold; }

#globalNav li ul li a:focus,
#globalNav li ul li a:hover,
#globalNav li ul li a:active,
#globalNav li.selected ul li a:focus,
#globalNav li.selected ul li a:hover,
#globalNav li.selected ul li a:active { }

#globalNav li ul li a.ui-state-active {
	border-left:#444B53 solid 2px;
	border-right:#444B53 solid 2px;
	background: #4F565D;
}

/* - - - - - - - - - - - - - - - Skip Links - - - - - - - - - - - - - - - */
p.skip,
p.skip a,
.skip a#cont {  /* skip to nav*/
	position:absolute;
	top:-100px;
	padding: 0 0.5em;
	width: 190px;
}

.skip a:focus,
.skip a:active,
.skip a#cont:focus,
.skip a#cont:active {
	top: 150px;
	left: 0px;
	color:#000;
	background-color:#FFF;
	border:2px solid #333;
}

/* - - - - - - - - - - - - - - - Headings - - - - - - - - - - - - - - - */


div.textTitle {
	position:absolute;
	font-size:2.5em;
	left:190px;
	top:20px;
	color:#4E585E;
}

#popup div.textTitle { display:none; }

h1 {
	font-size: 22px;
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0;
}

#title {
	float: left;
	width: 860px;
	height: 95px;
	left:20px;
	margin: 10px 0 0 20px;
	padding:0;
	background: url(graphics/titleHeader.jpg) no-repeat 0px 12px;
}

#title h1 {
	float:none;
	margin: 78px 15px 0 192px;
	padding:0;
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style:italic;
	font-weight:lighter;
	color:#000;
	text-align:left;
}

#title h1 span {
	display: inline;
	background:#9AAFB9;
	padding: 0 5px 0 7px;
	-moz-border-radius-topleft:5px;
	-webkit-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topright:5px;
}

h2 {
	font-size:1.5em;
	color:#3f444c;
}

/* - - - - - - - - - - - - - - - tables - - - - - - - - - - - - - - - */

table p { text-align:left; }

/* - - - - - table.layout - - - - - */

table.layout { margin:4px 0; }

table.layout td {
	padding:10px;
	margin:5px;
	color:#000
}
table.audioBkgrnd td.ma{ vertical-align:top}

table.layout p.figure.left {
	float:none;
	clear:both;
	padding:0;
}

table.layout p,
table.layout h3 {
	text-align:left;
	padding-left:10px;
}

table.layout td.cell1 ul { margin-left:20px; }

.cell1 {
	background: #EBEFF2 url(graphics/tableLayoutBkgrnd.jpg) repeat-x left top;
	-moz-border-radius-topleft:10px;
	-webkit-border-radius-topleft:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-radius-bottomleft:10px
}

.cell2,
.cell3 {
	background: #EBEFF2 url(graphics/tableLayoutBkgrnd.jpg) repeat-x left top;
	-moz-border-radius-topright:10px;
	-webkit-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-radius-bottomrightt:10px
}

/* - - - - - table.layout Custom - - - - - */
.middleCell {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background: #d9e0e3 url url(graphics/tableLayoutBkgrnd.jpg) repeat-x left top;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

.audioBkgrnd { background: #fff url(graphics/audioBkgrnd.jpg) no-repeat right top; }

.audioBkgrnd .cell1 { background:none; }

.audioBkgrnd .cell2 { background:none; }

.pointTableBkgrnd { background: #fff url(graphics/pointTableBkgrnd.jpg) no-repeat right top; }

.pointTableBkgrnd .cell1 { background:none; }

.pointTableBkgrnd .cell2 { background:none; }

table.threebythree { background: url(graphics/3x3Bkgrnd.jpg) no-repeat top center; }

.threebythree td h3,
#content table.threebythree td p.figure.left {
	text-align:center;
	float:none;
	margin:0
}

.onebyone .cell1 {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	background: #E1E6EA;
}

.threebythree td.cell1.row1,
.threebythree td.cell1.row2,
.threebythree td.cell2.row1,
.threebythree td.cell2.row2,
.threebythree td.cell2.row3,
.threebythree td.cell3.row1,
.threebythree td.cell3.row2 {
	background:none;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius-topleft:10px;
	-webkit-border-radius-topleft:10px;
}

.threebythree td.cell3.row3 {
	background: transparent url(graphics/3x3Bkgrnd_br.jpg) no-repeat bottom right;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

.threebythree td.cell1.row3 {
	background: transparent url(graphics/3x3Bkgrnd_bl.jpg) no-repeat bottom left;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

*html .threebythree td.cell3.row3,
*html .threebythree td.cell3.row3 { background:none; }

/* - - - - - table.tabular - - - - - */

table.tabular th,
table.tabular td {
	background: #eee;
	border: 2px solid #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

/* - - - - - - - - - - - - - - - inline styles - - - - - - - - - - - - - - - */

.textContain { padding-left:20px; }

#content p.backToTop {
	clear:both;
	margin:25px 0 0 15px;
	padding-left:20px;
	background: url(graphics/backToTop.gif) no-repeat left top;
	font-size:90%
}

#content p.backToTop a:link,
#content p.backToTop a:visited {
	color: #4D565C;
	text-decoration:none
}

#content p.backToTop a:hover,
#content p.backToTop a:focus,
#content p.backToTop a:active {
	color:#000;
	text-decoration:underline
}

blockquote {
	margin: 5px auto;
	max-width:400px;
	padding:2px 5px;
	background: #eee;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #bbb
}

.audio,
#content .audioBkgrnd p.caption,
#content .layout p.caption {
	float: none;
	background: #E7F1F4;
	text-align:center;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #aaa;
	color:#000;
}

#flashcontent0,
#flashcontent1,
#flashcontent2,
#flashcontent3,
#flashcontent4,
#flashcontent5,
#flashcontent6,
#flashcontent7,
#flashcontent8,
#flashcontent9,
#flashcontent10,
#flashcontent11,
#flashcontent12,
#flashcontent13,
#flashcontent14,
#flashcontent15,
#flashcontent16,
#flashcontent17,
#flashcontent18,
#flashcontent19,
#flashcontent20,
#flashcontent21,
#flashcontent22,
#flashcontent23,
#flashcontent24,
#flashcontent25,
#flashcontent26 { text-align:left; }

#swf,
#swf1,
#swf2,
#swf3,
#swf4,
#swf5,
#swf6,
#swf7,
#swf8,
#swf9,
#swf9,
#swf9,
#swf9,
#swf9 { margin-left:-15px }

div.audio div.flashcontent { float:left; }

div.audio a.expandable {
	margin-left:50px;
	padding-left:20px;
	background-position:left top;
	text-decoration:none;
}

.audioBkgrnd p.audioShow { width:200px; }

div.audio a.expandable { margin-left:0; }

/* - - - - - - - - - - - - - - - footer - - - - - - - - - - - - - - - */


#footer {
	width: 860px;
	margin: -35px auto 0 auto;
	left:0;
	padding:0;
	height:30px;
	border:1px solid #eee;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff url(graphics/bodyBkgrnd.jpg) no-repeat center -90px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#popup #footer {
	width: 460px;
	z-index:10;
	margin: -50px auto 0 auto;
	border:1px solid #eee;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff url(graphics/bodyBkgrnd.jpg) no-repeat center -90px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#footer p {
	top:8px;
	background:none;
	padding-left: 10px;
	font-size:1.2em;
}

#footer #copyright {
	position:absolute;
	top:0;
	padding-left:0;
}

.push {
	height:45px;
	clear:both;
}
