
/*  
FILE NAME: print.css 
DATE MODIFIED:23 July 2009
DESCRIPTION: This style sheet is the default standard for the CLIPS CD-ROM and HTML products.
Please do not alter. All style variables are developed on 'project.css'. 
AUTHOR: Centre for Learning Innovation (CLI), New South Wales Department of Education and Training
VERSION:0.5.1
*/
body {
	color:#000;
	font-family:Verdana, helvetica, Arial, sans-serif;
	font-size:75%;
	background-color:#FFF;
	margin:0;
	padding:0;
	line-height:1.4;
}

#nonFooter {
	position: relative;
	min-height: 100%;
	width:auto;
}

* html #nonFooter {
	height: 100%;
	width:auto;
	margin:0;
}

#footer {
	clear:both;
	padding:1em;
	color:#575757;
	font-size:0.8em;
	border-top:3px #fc3 solid;
	position: relative;
	margin-top: -2.8em;
	height:5em;
	width:100%;
}

#globalNav,
#nav,
#popup a.printLink,
#audio a.printLink,
.skip { display:none; }

#content {
	float:none;
	width:auto;
	position:relative;
	vertical-align:top;
	margin:0;
	padding:1em 1em 3em 1em;
}

/*    ////////////////////////////////////////////////     NEW STYLES    ////////////////////////////////////////////////     */
.toggle > .textContain {
	border: 1px solid #eee;
	padding:0 15px 5px 15px;
}

#tabs {
	border: 1px solid #eee;
	padding:0 5px;
}

#tabs div {
	border: 1px solid #eee;
	padding:0 10px 5px 10px;
	margin-bottom: 5px;
}

#tabs li { display:none; }

a.closed:before {
	background-color:transparent;
	content: " + ";
	font-size:16px;
	margin-left:-18px;
}

a.closed:after {
	background-color:transparent;
	font-size: 90%;
	content: " (Section closed. Expand section before printing if required) ";
}

a.open:before {
	background-color:transparent;
	content: " - ";
	font-size:16px;
	margin-left:-12px;
}

a.open:after {
	background-color:transparent;
	font-size: 90%;
	content: " (Section expanded) ";
}

#content div.toggle p.expand,
#content div.toggle div.toggle { margin-left:1em; }/* nested expandable sections */

a.expandable {
	padding-left:18px;
	display:inline-block; /* fixes an IE bug where the first plus is not clickable */
}

/*    ////////////////////////////////////////////////     END NEW STYLES    ////////////////////////////////////////////////     */

/* ------------------------- Headings ----------------------- */
h1 {
	margin:15px 0;
	color:#006699;
	font-size :190%;
	font-weight:normal;
}

#title {
	background:#000 url(graphics/title_bg.png) repeat-x left bottom;
	padding:10px 0 10px 10px;
	margin:0;
}

#feedback #title {
	background: #000 url(graphics/title_bg.png) repeat-x left bottom;
	padding:5px 0 5px 15px;
	margin:0;
}

#feedback #title h1 { font: normal 180%/80% "Lucida Grande", Arial, sans-serif; }

#title h1 {
	font: normal 300%/100% "Lucida Grande", Arial, sans-serif;
	position: absolute;
	margin: 5px 0 0 0;
	color: #fff;
	padding-bottom:0.3em;
	width:100%
}

#title span {
	position: absolute;
	bottom: -0.1em;
	display: block;
	width: 100%;
	height: 29px;
}

h2 {
	margin:15px 0 5px 0;
	color:#003366;
	font-size:115%;
}

h3,
p.activityHead {
	margin: 15px 0 5px 0;
	color: #575757;
	font-size:110%;
}

h4 {
	margin:15px 0;
	font-size:100%;
	font-weight: bold;
	font-size:100%;
}

#content p {
	margin:5px 0;
	line-height:1.3;
}

#content p sub { line-height:1.5; }

#content p.figure.left {
	clear:both;
	float:none;
	margin:0.5em 0 0;
	padding:0;
	text-align:left;
}

a img { border:0; }

.textContain img { display:block }

img.wrap { display:inline; }

div.figure {
	border:0;
	margin:1em;
	padding:0.3em;
	text-align:center;
}

div.figure.right {
	text-align:left;
	float:none;
	margin:1em 1em 1em auto;
}

div.figure.right.wrap {
	float:left;
	margin:1em;
}

div.figure.right.wrap +p { clear:none; }

div.figure.right +p { clear:right; }

div.figure.left {
	text-align:left;
	float:none;
	margin:1em auto 1em 1em;
}

div.figure.left.wrap {
	float:left;
	margin:1em;
}

div.figure.left.wrap +p { clear:none; }

div.figure.left +p { clear:left; }

#content div.figure p.caption {
	/* Caption text style for graphics rendered in main content */
	margin:0 0 0 0;
	padding:0.3em;
	color:#204162;
	background-color:#f6f4f4;
	font-size:90%;
}

#content div.figure p.copyright {
	margin:0 0 10px 0;
	padding:0.3em;
	color:#4B6075;
	background-color:#f6f4f4;
	font-size:80%;
}

strong,
b { /* Used to emphasise text within a paragraph */
	font-weight: bold; }

blockquote { margin:5px 10px 5px 50px; }

blockquote p {
	/* Renders the text styles for quotations and extracts */
	margin:5px 0;
	font-size:95%;
	color:#003366;
}

abbr,
acronym {
	cursor:help;
	border-bottom:1px dashed #000;
}

code {
	font-family:Courier, "Courier New", monospace;
	font-size:110%;
	display: block;
	white-space: pre;
}

pre { margin:0; }

/* --------------------- Standard lists --------------------- */
#content ul,
#content ol {
	margin-left:0;
	padding-left:15px;
}

li {
	margin:3px 0 3px 0;
	color:#000;
	vertical-align:top;
}

li p {
	/* Positions a list item's second or subsequent paragraph(s) */
	margin:5px 0;
	color:#000;
	min-width:0;
}

ul li ul li {
	/* Unordered list nested once */
	list-style-type:circle;
	margin :5px 5px 5px 0;
	padding-left:0;
	display:list-item;
}

ol li ol li {
	/* Ordered list nested once */
	list-style-type: lower-alpha;
	margin :5pt 5px 5px 0;
	padding-left:0;
	display:list-item;
}

ol li ol li ol li {
	/* Ordered list nested twice */
	list-style-type:lower-roman;
	margin :5px 5px 5px 0;
	display:list-item;
}

dl {
	border:1px solid #5A5A5A;
	padding:0;
	margin:0;
}

dt {
	border-bottom:1px solid #5A5A5A;
	background-color:#EDF1F5;
	font-weight:bold;
	color:#003366;
	padding:3px;
	margin:0;
}

dd {
	padding:3px;
	margin:0;
}

a:link { color:#000; }

a:visited { color:#575757; }

a.wikipedia,
a.dictionary {
	background-image:none;
	padding-right:0;
	text-decoration:none;
	border-bottom:dotted 1px #999;
}

/* --------------------- footer --------------------- */
#footer p { margin:0; }

#footer p#secondaryFooterInfo { padding:0.5em 0; }

#footer #copyright { }

#footer #copyright a { display:none; }

#footer #print {
	padding-left:1em;
	display:none;
}

/*------Footer page numbers and next, back, first and last links-----*/	
#footer p#pagination {
	padding:0;
	margin:0 auto;
	height:2em;
	display:none;
}

#footer p#pagination span { float:left; }

#footer p#pagination span#start { }

#footer p#pagination span#back { }

#footer p#pagination span#location { text-align:center; }

#footer p#pagination span#next { text-align:right; }

#footer p#pagination span#end {
	float:right;
	text-align:right;
}

/*------------Print link styles------------*/
a.printLink { margin-left:1.5em; }

a.printLink:link,
a.printLink:visited { color:#575757; }

a.printLink:focus,
a.printLink:hover,
a.printLink:active { color:#003366; }

/* --- Bottom navigation styles --- */

p.navBot {
	/* Text style */
	color:#575757;
	font-size:0.8em;
	text-align:right;
	margin-right:15px;
	margin-top:0;
	padding-right:0;
}

a.navBot { font-weight:normal; }

a.navBot:link { color:#575757; }

a.navBot:visited {
	color:#575757;
	text-decoration:none;
}

a.navBot:focus,
a.navBot:hover,
a.navBot:active { color:#003366; }

/* ----------------- Activity styles ---------------- */

.actdiv {
	background-color:#fff;
	padding:0.5em;
	border:1px #5A5A5A dashed;
	margin:0.5em 0;
}

.actdiv p {
	/* Paragraph text style for activity. 
	Questions are tagged within strong tags and rendered using the the style for 'strong' */
	margin:0.5em;
	color:#000;
	font-size:100%;
}

.activityTitle { font-weight:bold; }

label.activityLabel { }

input { }

.actinput,
textarea {
	/* Renders the text styles for 'input' box (missing word activities) and 
	'textarea' (short answer question activities). */
	font-family:Arial, Verdana, helvetica, sans-serif;
	font-size:95%;
	color:#000;
}

.shortAnswerTextarea { }

.actinput {
	/* Renders the margins either side of the 'input' box */
	margin:0;
	padding:0;
	width:3em;
	display: block;
	float: left;
}

p.actbutton {
	padding:1em 0;
	margin:0.1em 0;
}

p.actbutton a {
	/* These attributes render the look and feel of the feedback buttons */
	/* top, right, bottom, left */
	margin:0;
	font-family:Verdana, helvetica, Arial, sans-serif;
	font-size:90%;
	text-decoration:none;
	font-weight:bold;
	padding:0.3em;
	border-bottom:2px #5A5A5A solid;
	border-right:2px #5A5A5A solid;
	background-color:#e5e5e5;
}

p.actbutton a:link { color:#000; }

p.actbutton a:visited { color:#575757; }

p.actbutton a:focus { color:#003366; }

p.actbutton a:hover { color:#003366; }

p.actbutton a:active { color:#000; }

/* --- Table style for JavaScript activities --- */

table.activity {
	/* If this table is not rendered in the '.actfieldset' then 
	its recommended that the width not exceed 96% */
	margin:0 0 15px 0;
	width:100%;
	border-collapse:collapse;
}

table.activity td {
	/* Contains the text style for JavaScript activities */
	font-family:Verdana, Helvetica, Arial, sans-serif;
	color:#000;
	background-color:transparent;
	padding:0;
	border:0 #000 solid;
	vertical-align:middle;
}

/* -------------------- Styles for tables ------------------- */

/* --- Tabular table styles --- */

table.tabular {
	/* Its recommended that the width not exceed 96% */
	margin:10px 0 10px 0;
	border-collapse:collapse;
	min-width:0;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	width:98%;
}

caption {
	/* Accessibility related captions for tabular tables */
	/* top, right, bottom, left */
	padding:1em 0 0.5em 0;
	color:#000;
	font-weight:bold;
	text-align:left;
}

table.tabular th {
	color:#003366;
	font-weight:bold;
	padding:3px 5px;
	background-color:#EDF1F5;
	border:1px #5A5A5A solid;
	vertical-align:top;
}

table.tabular td {
	/* Contains the default text style for tabular data. 
	IMPORTANT: Its recommended that text within tabular tables 
	appear within p tags and styled with 'td p' */
	color:#000;
	font-size:90%;
	text-align:left;
	padding:3px 5px;
	background-color:#fff;
	border:1px #5A5A5A solid;
	vertical-align:top;
}

table.tabular p {
	/* Paragraph text style for tabular tables */
	margin:5px 5px 5px 0;
	color:#000;
	text-align:left;
}

table.tabular li {
	/* Ordered and unordered list style for tabular tables */
	color:#000;
	margin:0 5px 5px 10px;
	display:list-item;
	text-align:left;
}

table.tabular ol li ol li {
	/* Nested ordered list for tabular tables */
	list-style-type:lower-alpha;
	margin:5px 0 0 10px;
}

table.tabular p.caption {
	/* Caption text style for graphics rendered in tabular tables */
	margin:5px;
	color:#204162;
	text-align:left;
}

table.tabular img { /* Positions graphics inserted in tables */
	margin:0; }

/*-----the first element after a layout table should be cleared  ------- */
.layout {
	display:table;
	border-collapse:collapse;
}

.layout + * { clear:both; }

.layout div {
	float:left;
	margin:0 0.3em;
	display:table-cell;
}

.layout div.row {
	clear:both;
	display:table-row;
}

.layout div.right { float:right; }

.layout div.right wrap { }

/* --------------- Feedback styles ------------------- 
IMPORTANT: These styles render the texts in the feedback windows */

h1.feedback,
p.feedback { margin:15px; }

/*---------------Audio styles -------------------------- */
.transcript { visibility:visible; }

.audio {
	border:dotted 1px #999;
	padding:0.5em;
}

/*---------------End of audio styles -------------------------- */

.right { float:right; }

.left { float:left; }

.wrap { }

.forty { }

.clear { clear:both; }

.clearLeft { clear:left; }

.qStem { /*stem for a question */
	font-weight:bold; }
