/* Last updated 17 June 2010 */
/* Author: Daniel Wright */
/* Responsible Service of alcohol CSS v1.1 */
/* Splash page */

body {
	background:#fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

#title {
	position:absolute;
	height: 145px;
	width: 630px;
	margin: -350px 0 0 -450px;
	left: 50%;
	top: 50%;
	font-size:2.5em;
}


#enter {
	position:absolute;
	width:82px;
	height:45px;
	left:409px;
	top:378px;
	border:0;
}

#enter a:link,
#enter a:visited {
	position:absolute;
	background:url(graphics/enterA.jpg) no-repeat left top;
	width: 85px;
	height: 45px;
}

#enter a:focus,
#enter a:hover,
#enter a:active { background: url(graphics/enterB.jpg) no-repeat left top; }

a:link,
a:visited {
	color:#006;
	text-decoration:none;
}

a:focus,
a:hover,
a:active {
	color: #00C;
	text-decoration:underline;
}

img { border:0; }

#olgr {
	position:absolute;
	top: 98%;
	/*left:5%;
	margin-top:-62px;*/
	left:50%;
	margin:-62px 0 0 -154px;
}

#links {
	position: absolute;
	height: 30px;
	width: 642px;
	margin-left: -321px;
	margin-top: 0;
	padding:0;
	top: 80%;
	left: 50%;
	text-align: center;
	background:url(graphics/linksBkgrnd-trans.png) no-repeat center top;
}

ul {
	position: absolute;
	height: 30px;
	width: 642px;
	margin-left: -321px;
	margin-top: 0;
	padding:0;
	top: 80%;
	left: 50%;
	text-align: center;
	line-height:1.3em;
	padding:0;
	margin-top:0px;
}

ul li {
	list-style: none;
	display: inline;
	padding:0;
}

a.linkBorder {
	border-left:1px solid #666;
	padding:0 8px;
}
