/*  
FILE NAME:ips2_print.css 
DATE MODIFIED:7 October 2005  
DESCRIPTION:This style sheet is the default print standard for the CLI Resource Management Framework (RMF) CD-ROM and HTML products.
Please do not alter.
AUTHOR:Centre for Learning Innovation (CLI), New South Wales Department of Education and Training
VERSION: 5.2.0
*/

/* ------------------ Core Layout styles --------------------- */
body {
color:#000;
font-family:"Times New Roman", Georgia, serif;
margin:0 5%;
background-color:#FFF;
font-size:12pt;
line-height:1.3;
}


/* ------------------------- Headings ----------------------- */

h1, h2, h3, h4 {
font-family:Arial, Helvetica, Verdana, San-Serif;
color:#000;
}

h1 {
font-size:26pt;
margin:12pt 0 20pt 0;
line-height:26pt;
}

h2 {
font-size:20pt;
line-height:18pt;
margin:24pt 0 12pt 0;
}

h3 {
font-size:16pt;
line-height:16pt;
margin:12pt 0 0 0;
}

h4 {
font-size:14pt;
line-height:14pt;
font-style:italic;
font-weight:normal;
margin:12pt 0 0 0;
}

/* ------------------- Block level values ------------------- */

p {
/* top, right, bottom, left */
margin:6pt 0;
}


strong, b {
font-weight:bold;
}




.footer {
/* Renders copyright text at the end of each page */
/* top, right, bottom, left */
margin:20pt 20px 0 0;
color:#999;
font-size:10pt;
text-align:left;
padding-top:2pt;
border-top:0.5pt #666 solid;
}

abbr, acronym {
color:#000;
}

pre {
word-wrap:break-word; /* ie */
white-space:-moz-pre-wrap; /* Gecko */
white-space:-khtml-pre-wrap; /* Safari, ne marche pas --  peut tre sur konqueror */
white-space:-o-pre-wrap; /* Opera 7 */
white-space:-pre-wrap; /* Opera 4-6 */
white-space:pre-wrap; /* CSS 2.1 */
white-space:pre-line; /* CSS 3 */
}

code {
font-family: Courier, "Courier New", monospace;
width:100%;
font-size:10pt;
/*word-wrap: break-word;*/
display:block;
overflow:visible;
}

/* --- Main content image --- */

img {
/* Apply to graphics inserted within content. */
/* top, right, bottom, left */
margin:10pt 0 6pt 0;
}

/* --------------------- lists --------------------- */
ul,ol
{	
	margin:0;
	padding:0;
}
ul li ul,ol li ol
{	
	margin:0 0 0 5%;
	padding:0 0 0 5%;
}
td ul, td ol
{	
	margin:0 0 0 5.5%;
	padding:0 0 0 5.5%;
}
li {
/* top, right, bottom, left */
	margin:0;
	padding:0;
}

li p {
/* Positions a list item's second or subsequent paragraph(s) */
/* top, right, bottom, left */
margin:5pt 0 5pt 0;
padding:0;
vertical-align:middle;
display:list-item;
text-align:left;
}

ul li ul li, ol li ol li, ol li ol li ol li  {
margin:0 0 6pt 0;
display:list-item;
}

ul li ul li {
/* Unordered list nested once */
list-style-type:circle;
}

ol li ol li {
/* Ordered list nested once */
list-style-type:lower-alpha;
}

ol li ol li ol li {
/* Ordered list nested twice */
list-style-type:lower-roman;
}

td ol li ol li {
/* Nested ordered list for tabular tables */
list-style-type:lower-alpha;
margin:6pt 0 0 0;
}
td ul li ul li {
/* Nested ordered list for tabular tables */
margin:6pt 0 0 0;
}

/* -----------------------Pseudo classes:-------------------- */

a:link, a:visited {
color:#000;
text-decoration:none;
border-bottom:1px dashed #999;
}

a:hover, a.topNav:Link, a.topNav:Visited, a.topNav:Hover, p.navBot, a.navBot:link, a.navBot:visited, a.navBot:hover {
display:none;
}
/* add the url in braces after the link for compliant browsers */
a[href^="http"]:after {
   content: " (" attr(href) ") ";
   }

/* -- Decorative links -- */

a.decorative:link {
/* Link style */
color:#000;
font-weight:bold;
}

/* -------------------- Activity styles ------------------ */

.actdiv  {
background-color:#fff;
width:83%;
padding:10pt;
border:0.5pt #000 solid;
border-top:2pt #999 solid;
margin-left:0;
}

.actdiv  p {
/* Paragraph text style for activity */
/* top, right, bottom, left */
margin:5pt;
color:#000;
text-align:left;
font-size:100%;
}

.actinput {
/* Renders the input box text style and margins either side of the box */
/* top, right, bottom, left */
margin:1px 5px 0 5px;
font-size:90%;
}

.actbutton {
/* These attributes render the look and feel of the feedback buttons */
/* top, right, bottom, left */
margin:0;
font-size:10pt;
text-decoration:none;
font-weight:bold;
padding:2pt;
border-bottom:2pt #999 solid;
border-right:2pt #999 solid;
}

/* --- Table style for JavaScript activities --- */

table.activity {
/* If this table is not rendered in the '.actfieldset' then 
its recommended that the width not exceed 96% */
/* top, right, bottom, left*/ 
margin:0 0 12pt 0;
width:100%;
border-collapse:collapse;
}

table.activity td {
/* Contains the text style for JavaScript activities */
color:#000;
text-align:left;
background-color:transparent;
padding:0;
border:0;
vertical-align:top;
}

/* -------------------- Styles for tables ------------------- */

/* --- Tabular table styles --- */

table {
/* Its recommended that the width not exceed 96% */
/* top, right, bottom, left */
width:90%;
margin:12pt 0;
padding:0;
border-collapse:collapse;
}

caption {
/* Accessibility related captions for tabular tables */
/* top, right, bottom, left */
padding:10pt 0;
color:#000;
text-align:left;
font-weight:bold;
}

th, table.layout th {
font-weight:bold;
text-align:left;
padding:4pt;
background-color:#fff;
vertical-align:top;
}

th  {
color:#000;
border:0.5pt #000 solid;
}

td {
color:#000;
border:0.5pt #000 solid;
padding:4pt;
background-color:#fff;
vertical-align:top;
line-height:1.3;
}

td p, table.layout p {
color:#000;
text-align:left;
}

td p {
/* Paragraph text style for tabular tables */
margin:0 0 10pt 0;
}

td p.caption {
/* Caption text style for graphics rendered in tabular tables */
/* top, right, bottom, left */
font-style:italic;
}

td img {
/* Positions graphics inserted in tables */
/* top, right, bottom, left */
margin:0 0 0 2pt;
}

/* ---- Layout table styles --- */

table.layout {
/* This table is used to vary the layout of content. 
IMPORTANT:It should not be used for tabular tables.
Its recommended that the width not exceed 96% */
/* top, right, bottom, left */
margin:10pt 0 20pt 0;
border-collapse:collapse;
}

table.layout th {
color:#666;
border:0;
}

table.layout td {
padding:4pt;
background-color:#fff;
border:0;
vertical-align:top;
border-top:0.5pt #000 solid;
border-bottom:0.5pt #000 solid;
}

table.layout p.caption {
/* Caption style for graphics rendered in layout tables */
/* top, right, bottom, left */
color:#000;
text-align:left;
}

table.layout img {
/* Positions graphics inserted in layout tables */
/* top, right, bottom, left */
margin:0;
}

/* --- Layout table links --- */

a.layout:link {
/* Link style for layout tables */
color:#000;
text-decoration:underline;
}

/* --------------- Feedback styles ------------------- 
IMPORTANT:These styles render the texts in the feedback windows */

h1.feedback, p.feedback  {
/* top, right, bottom, left */
margin:16pt;
}
/*---------------Audio styles -------------------------- */
#audioDiv object,#audioShow
{
	display:none;
}