/*  
FILE NAME: flash.css  
DESCRIPTION: This stylesheet styles the look and feel for flash activity container and HTML text version pages.


/* ------------------ styles --------------------- */

html, body{ 
	/* for full screen flash*/
	height:100%; 
}
			
body {
	/* start full screen flash*/
	margin:0; 
	padding:0; 
	/* end full screen flash*/
	bgcolor:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
.textVersionContent{
	margin:5px;
}
h1 {
	font-size: 110%;
}
h2 {
	font-size: 100%;
}
ul li{
	margin-left:25px;
}
table {
	border: thin dashed #E0F0F4;
	width : 90%;
}
td {
	vertical-align: top;
}
p.padded {
	margin-right: 5em;
}
p.topNavLinks{
	margin:5px;
}
table.sequencing td {
	height:3em;
}
table.sequencing th {
	vertical-align: top;
	width:10%;
	text-align:left;
	background-color:#EBEBEB;
}
img.show_tell {
	padding-right:10px;
	padding-bottom:15px;
	float:left;
}
.footer { 
	margin : 20px 0 0 5px; 
	color : #c7c7c7; 
	font-size : 80%; 
	text-align: left; 
	min-width: 0px; 
	max-width: 400px; 
	padding-top:2px; 
	border-top : 1px #e4e4e4 solid;
}
.swfAlt {
	border: 2px #e4e4e4 solid;
	padding: 3px;
}
.clear{
	clear:both;
}